name: Auto Commit
on:
  workflow_dispatch:
  schedule:
    - cron: '50 0 21 7 *'
    - cron: '32 2 21 7 *'
    - cron: '12 5 21 7 *'
    - cron: '40 7 21 7 *'
    - cron: '35 9 21 7 *'
    - cron: '38 10 21 7 *'
    - cron: '40 13 21 7 *'
    - cron: '38 14 21 7 *'
    - cron: '38 16 21 7 *'
    - cron: '58 18 21 7 *'
    - cron: '20 1 22 7 *'
    - cron: '15 2 22 7 *'
    - cron: '33 2 22 7 *'
    - cron: '1 3 22 7 *'
    - cron: '4 4 22 7 *'
    - cron: '38 6 22 7 *'
    - cron: '15 6 22 7 *'
    - cron: '1 8 22 7 *'
    - cron: '33 8 22 7 *'
    - cron: '23 9 22 7 *'
    - cron: '46 11 22 7 *'
    - cron: '2 11 22 7 *'
    - cron: '3 13 22 7 *'
    - cron: '41 13 22 7 *'
    - cron: '59 0 23 7 *'
    - cron: '9 2 23 7 *'
    - cron: '46 4 23 7 *'
    - cron: '18 7 23 7 *'
    - cron: '10 8 23 7 *'
    - cron: '14 11 23 7 *'
    - cron: '24 13 23 7 *'
    - cron: '16 14 23 7 *'
    - cron: '36 17 23 7 *'
    - cron: '25 18 23 7 *'
    - cron: '58 21 23 7 *'
    - cron: '43 0 24 7 *'
    - cron: '55 1 24 7 *'
    - cron: '50 3 24 7 *'
    - cron: '41 3 24 7 *'
    - cron: '46 5 24 7 *'
    - cron: '49 6 24 7 *'
    - cron: '52 6 24 7 *'
    - cron: '3 8 24 7 *'
    - cron: '5 9 24 7 *'
    - cron: '15 9 24 7 *'
    - cron: '8 11 24 7 *'
    - cron: '56 11 24 7 *'
    - cron: '9 12 24 7 *'
    - cron: '34 14 24 7 *'
    - cron: '40 14 24 7 *'
    - cron: '33 1 25 7 *'
    - cron: '19 3 25 7 *'
    - cron: '55 4 25 7 *'
    - cron: '4 7 25 7 *'
    - cron: '53 8 25 7 *'
    - cron: '1 11 25 7 *'
    - cron: '12 12 25 7 *'
    - cron: '38 15 25 7 *'
    - cron: '39 16 25 7 *'
    - cron: '54 19 25 7 *'
    - cron: '56 20 25 7 *'
    - cron: '7 22 25 7 *'
    - cron: '33 1 26 7 *'
    - cron: '41 2 26 7 *'
    - cron: '47 3 26 7 *'
    - cron: '17 3 26 7 *'
    - cron: '29 5 26 7 *'
    - cron: '45 5 26 7 *'
    - cron: '7 7 26 7 *'
    - cron: '11 8 26 7 *'
    - cron: '15 9 26 7 *'
    - cron: '22 10 26 7 *'
    - cron: '2 11 26 7 *'
    - cron: '20 12 26 7 *'
    - cron: '9 12 26 7 *'
    - cron: '28 13 26 7 *'
    - cron: '24 14 26 7 *'
    - cron: '15 15 26 7 *'
    - cron: '14 0 27 7 *'
    - cron: '57 2 27 7 *'
    - cron: '19 2 27 7 *'
    - cron: '37 4 27 7 *'
    - cron: '45 5 27 7 *'
    - cron: '15 5 27 7 *'
    - cron: '12 6 27 7 *'
    - cron: '51 7 27 7 *'
    - cron: '17 8 27 7 *'
    - cron: '53 9 27 7 *'
    - cron: '45 11 27 7 *'
    - cron: '52 11 27 7 *'
    - cron: '53 13 27 7 *'

jobs:
  auto-commit:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v3
        with:
          persist-credentials: true
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '16'
      - name: Set Git Identity
        run: |
          git config --global user.name "Harsh Vekariya"
          git config --global user.email "harshvekariya203@gmail.com"

      - name: Create Single Change
        run: |
          node ./auto_commit_script.js
          git add .
          git commit -m "Auto commit [$(date -u)]"
          git push