name: Auto Commit
on:
  workflow_dispatch:
  schedule:
    - cron: '40 0 2 8 *'
    - cron: '23 4 2 8 *'
    - cron: '20 7 2 8 *'
    - cron: '48 9 2 8 *'
    - cron: '54 13 2 8 *'
    - cron: '30 15 2 8 *'
    - cron: '49 18 2 8 *'
    - cron: '4 21 2 8 *'

jobs:
  auto-commit:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v3
        with:
          persist-credentials: true
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '16'
      - name: Set Git Identity
        run: |
          git config --global user.name "Harsh Vekariya"
          git config --global user.email "harshvekariya203@gmail.com"

      - name: Create Single Change
        run: |
          node ./auto_commit_script.js
          git add .
          git commit -m "Auto commit [$(date -u)]"
          git push