name: Auto Commit
on:
  workflow_dispatch:
  schedule:
    - cron: '44 0 2 8 *'
    - cron: '35 3 2 8 *'
    - cron: '18 6 2 8 *'
    - cron: '57 9 2 8 *'
    - cron: '43 13 2 8 *'
    - cron: '30 16 2 8 *'
    - cron: '10 19 2 8 *'
    - cron: '17 0 3 8 *'
    - cron: '18 2 3 8 *'
    - cron: '45 5 3 8 *'
    - cron: '10 6 3 8 *'
    - cron: '53 8 3 8 *'
    - cron: '38 10 3 8 *'
    - cron: '13 12 3 8 *'
    - cron: '31 14 3 8 *'
    - cron: '18 16 3 8 *'
    - cron: '14 18 3 8 *'
    - cron: '46 21 3 8 *'
    - cron: '36 1 4 8 *'
    - cron: '2 3 4 8 *'
    - cron: '59 6 4 8 *'
    - cron: '4 9 4 8 *'
    - cron: '19 12 4 8 *'
    - cron: '41 15 4 8 *'
    - cron: '35 18 4 8 *'
    - cron: '48 22 4 8 *'
    - cron: '37 1 5 8 *'
    - cron: '52 2 5 8 *'
    - cron: '43 4 5 8 *'
    - cron: '22 6 5 8 *'
    - cron: '7 9 5 8 *'
    - cron: '25 11 5 8 *'
    - cron: '47 12 5 8 *'
    - cron: '31 15 5 8 *'
    - cron: '41 17 5 8 *'
    - cron: '56 19 5 8 *'
    - cron: '35 21 5 8 *'
    - cron: '7 22 5 8 *'
    - cron: '20 0 6 8 *'
    - cron: '4 2 6 8 *'
    - cron: '40 4 6 8 *'
    - cron: '22 6 6 8 *'
    - cron: '9 8 6 8 *'
    - cron: '21 10 6 8 *'
    - cron: '27 13 6 8 *'
    - cron: '30 15 6 8 *'
    - cron: '54 16 6 8 *'
    - cron: '49 0 7 8 *'
    - cron: '22 2 7 8 *'
    - cron: '33 3 7 8 *'
    - cron: '17 3 7 8 *'
    - cron: '53 4 7 8 *'
    - cron: '58 5 7 8 *'
    - cron: '27 7 7 8 *'
    - cron: '30 7 7 8 *'
    - cron: '58 8 7 8 *'
    - cron: '40 9 7 8 *'
    - cron: '51 11 7 8 *'
    - cron: '40 11 7 8 *'
    - cron: '45 12 7 8 *'
    - cron: '8 0 8 8 *'
    - cron: '46 2 8 8 *'
    - cron: '21 4 8 8 *'
    - cron: '0 7 8 8 *'
    - cron: '27 8 8 8 *'
    - cron: '23 10 8 8 *'
    - cron: '16 12 8 8 *'
    - cron: '0 15 8 8 *'
    - cron: '30 17 8 8 *'
    - cron: '6 19 8 8 *'

jobs:
  auto-commit:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v3
        with:
          persist-credentials: true
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '16'
      - name: Set Git Identity
        run: |
          git config --global user.name "Harsh Vekariya"
          git config --global user.email "harshvekariya203@gmail.com"

      - name: Create Single Change
        run: |
          node ./auto_commit_script.js
          git add .
          git commit -m "Auto commit [$(date -u)]"
          git push