name: Auto Commit
on:
  workflow_dispatch:
  schedule:
    - cron: '1 0 14 7 *'
    - cron: '32 5 14 7 *'
    - cron: '1 9 14 7 *'
    - cron: '47 13 14 7 *'
    - cron: '51 16 14 7 *'
    - cron: '10 20 14 7 *'
    - cron: '17 1 15 7 *'
    - cron: '52 2 15 7 *'
    - cron: '11 4 15 7 *'
    - cron: '24 7 15 7 *'
    - cron: '18 8 15 7 *'
    - cron: '33 10 15 7 *'
    - cron: '11 13 15 7 *'
    - cron: '13 14 15 7 *'
    - cron: '57 17 15 7 *'
    - cron: '19 19 15 7 *'
    - cron: '31 0 16 7 *'
    - cron: '4 3 16 7 *'
    - cron: '21 6 16 7 *'
    - cron: '57 10 16 7 *'
    - cron: '51 12 16 7 *'
    - cron: '2 15 16 7 *'
    - cron: '40 19 16 7 *'
    - cron: '30 0 17 7 *'
    - cron: '7 2 17 7 *'
    - cron: '17 5 17 7 *'
    - cron: '7 6 17 7 *'
    - cron: '59 9 17 7 *'
    - cron: '43 10 17 7 *'
    - cron: '27 13 17 7 *'
    - cron: '55 14 17 7 *'
    - cron: '35 16 17 7 *'
    - cron: '18 19 17 7 *'
    - cron: '42 21 17 7 *'
    - cron: '7 1 18 7 *'
    - cron: '10 3 18 7 *'
    - cron: '50 6 18 7 *'
    - cron: '51 10 18 7 *'
    - cron: '0 12 18 7 *'
    - cron: '50 16 18 7 *'
    - cron: '3 18 18 7 *'
    - cron: '33 21 18 7 *'
    - cron: '20 1 19 7 *'
    - cron: '28 2 19 7 *'
    - cron: '3 4 19 7 *'
    - cron: '30 6 19 7 *'
    - cron: '9 9 19 7 *'
    - cron: '35 10 19 7 *'
    - cron: '49 12 19 7 *'
    - cron: '0 15 19 7 *'
    - cron: '50 17 19 7 *'
    - cron: '40 19 19 7 *'
    - cron: '54 20 19 7 *'
    - cron: '5 0 20 7 *'
    - cron: '19 3 20 7 *'
    - cron: '36 4 20 7 *'
    - cron: '15 7 20 7 *'
    - cron: '56 8 20 7 *'
    - cron: '26 10 20 7 *'
    - cron: '32 13 20 7 *'
    - cron: '0 14 20 7 *'
    - cron: '30 16 20 7 *'

jobs:
  auto-commit:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v3
        with:
          persist-credentials: true
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '16'
      - name: Set Git Identity
        run: |
          git config --global user.name "Harsh Vekariya"
          git config --global user.email "harshvekariya203@gmail.com"

      - name: Create Single Change
        run: |
          node ./auto_commit_script.js
          git add .
          git commit -m "Auto commit [$(date -u)]"
          git push